<template>
  <div>
    <button class="button" @click="exportSingle">download</button>
    <!-- <p>{{content}}</p> -->
    <p v-html="content"></p>
  </div>
</template>

<script>
import { getArticle, downArticle } from "../../server/movie";
export default {
  name: "userPage",
  data() {
    return {
      content: "",
      articleID: "000001",
    };
  },
  methods: {
    initData() {
      getArticle(this.articleID).then((res) => {
        this.content = res.data.content;
      });
    },
    exportSingle() {
      console.log("exportSingle: ", this.articleID);
      downArticle({
        articleId: this.articleID,
      }).then((res) => {
        console.log("res", res.data);
      });
    },
  },
  mounted() {
    this.initData();
  },
};
</script>

<style>
.button {
  height: 30px;
  width: 100px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
</style>